<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Register</display-name>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ListUsername</display-name>
        <servlet-name>ListUsername</servlet-name>
        <servlet-class>controller.ListUsername</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ListEmail</display-name>
        <servlet-name>ListEmail</servlet-name>
        <servlet-class>controller.ListEmail</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ListKategori</display-name>
        <servlet-name>ListKategori</servlet-name>
        <servlet-class>controller.ListKategori</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>HakPengguna</display-name>
        <servlet-name>HakPengguna</servlet-name>
        <servlet-class>controller.HakPengguna</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ListTaskDefault</display-name>
        <servlet-name>ListTaskDefault</servlet-name>
        <servlet-class>controller.ListTaskDefault</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ListTask</display-name>
        <servlet-name>ListTask</servlet-name>
        <servlet-class>controller.ListTask</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SearchPage</display-name>
        <servlet-name>SearchPage</servlet-name>
        <servlet-class>controller.SearchPage</servlet-class>
    </servlet>
	<servlet>
        <description/>
        <display-name>Search</display-name>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Search2</display-name>
        <servlet-name>Search2</servlet-name>
        <servlet-class>controller.Search2</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Search3</display-name>
        <servlet-name>Search3</servlet-name>
        <servlet-class>controller.Search3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsername</servlet-name>
        <url-pattern>/ListUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmail</servlet-name>
        <url-pattern>/ListEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListKategori</servlet-name>
        <url-pattern>/ListKategori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HakPengguna</servlet-name>
        <url-pattern>/HakPengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTaskDefault</servlet-name>
        <url-pattern>/ListTaskDefault</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTask</servlet-name>
        <url-pattern>/ListTask</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>SearchPage</servlet-name>
        <url-pattern>/SearchPage</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search2</servlet-name>
        <url-pattern>/Search2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search3</servlet-name>
        <url-pattern>/Search3</url-pattern>
    </servlet-mapping>
</web-app>
